extends layout


block content
    .content-inner
        // Page Header
        header.page-header
            .container-fluid
                h2.no-margin-bottom Tables
        // Breadcrumb
        .breadcrumb-holder.container-fluid
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='/') Home
                |
                li.breadcrumb-item.active Tables
        |
        section.tables
            .container-fluid
                .row
                    .col-lg-12
                        .card
                            .card-close
                                .dropdown
                                    button#closeCard4.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                        i.fa.fa-ellipsis-v
                                    |
                                    .dropdown-menu.dropdown-menu-right.has-shadow(aria-labelledby='closeCard4')
                                        a.dropdown-item.remove(href='#')
                                            i.fa.fa-times
                                            | Close
                                        a.dropdown-item.edit(href='#')
                                            i.fa.fa-gear
                                            | Edit
                            |
                            .card-header.d-flex.align-items-center
                                h3.h4 Logs Table
                            |
                            .card-body
                                table.table.table-striped.table-sm
                                    thead
                                        tr
                                            th #
                                            |
                                            th Event Id
                                            |
                                            th Computer
                                            |
                                            th Time Created
                                            |
                                            th Ip Address
                                            |
                                            th Failure Reason
                                            |
                                            th Target User Name
                                            |
                                            th Subject User Name
                                    |
                                    tbody
                                        if Logs
                                            each log in Logs
                                                tr
                                                    th(scope='row') 1
                                                    |
                                                    td #{log.EventId}
                                                    |
                                                    td #{log.Computer}
                                                    |
                                                    td #{log.timeago(log.TimeCreated)}
                                                    |
                                                    td #{log.IpAddress}
                                                    |
                                                    td #{log.FailureReason}
                                                    |
                                                    td #{log.TargetUserName}
                                                    |
                                                    td #{log.SubjectUserName}
block scripts

